.image-view-wrapper:border {
    -fx-border-color: #FF0000;
    -fx-border-style: solid;
    -fx-border-width: 5;
}

.image-view-wrapper {
    -fx-border-color: #000000;
    -fx-border-style: solid;
    -fx-border-width: 5;
}
